extends layout

block content


  if Notification
      .notification-overlay
          .notificationred
              p= Notification
      script.
          setTimeout(function() {
              var notificationOverlay = document.querySelector(".notification-overlay");
              notificationOverlay.parentNode.removeChild(notificationOverlay);
          }, 3000);

  .container-fluid.flex-grow-1.d-flex.vertical-center.secondary-backgroundcolor
    .container(id='tabContent' style='width: 100%; height: 85%')
      .row(id='tabContent' style='width: 100%;')
        .col-2
            input(type='checkbox', id='nurZuZiehendeKunden', name='nurZuZiehendeKunden')
            label(for='nurZuZiehendeKunden' style='padding-left: 10px; padding-bottom: 0px') Ziehende Proben
      ul.nav.nav-tabs.secondary-backgroundcolor.h5
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#lufa' data-tab-id='lufa') Lufa
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#claas' data-tab-id='claas') Claas
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#gsagri' data-tab-id='gsagri') GSAgri
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#lwk' data-tab-id='lwk') LWK-Niedersachsen
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#maehlmann' data-tab-id='maehlmann') Mählmann
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#sonstiges' data-tab-id='sonstiges') Sonstiges
      .tab-content.text-center
        #lufa.tab-pane.fade.show.active
          #lufa-table.table-container.table-responsive(style="max-height: 60vh; overflow-y: auto;")
            table#example.table.table-striped.autoTable
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in Daten.lufa
                  tr.table-secondary
                    td
                      a.nav-linkTableA(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #claas.tab-pane.fade
          #claas-table.table-container.secondary-backgroundcolor
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in Daten.claas
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #gsagri.tab-pane.fade
          #gsagri-table.table-container
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in Daten.gsagri
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #lwk.tab-pane.fade
          #lwk-table.table-container
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in Daten.lwkniedersachsen
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #maehlmann.tab-pane.fade
          #maehlmann-table.table-container
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in Daten.maehlmann
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #sonstiges.tab-pane.fade
          #sonstiges-table.table-container
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in Daten.sonstiges
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)

      button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModalCenterEinKunde'  class='btn btn-primary button float-right' style='margin-right:20px; margin-top:10px') Kunde hinzufügen  
      button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModalCenter'  class='btn btn-primary button float-right' style='margin-right:20px; margin-top:10px') Mehrere Kunden hinzufügen  
  

    .container(id='tabContentZuZiehen' style='width: 100%; height: 85%')
      .row(id='tabContent' style='width: 100%;')
        .col-2
          input(type='checkbox', id='nurZuZiehendeKundenAnzeigen', name='nurZuZiehendeKundenAnzeigen')
          label(for='nurZuZiehendeKunden' style='padding-left: 10px; padding-bottom: 0px') Ziehende Proben
      ul.nav.nav-tabs.secondary-backgroundcolor.h5
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#lufaZuZiehen' data-tab-id='lufa') Lufa
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#claasZuZiehen' data-tab-id='claas') Claas
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#gsagriZuZiehen' data-tab-id='gsagri') GSAgri
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#lwkZuZiehen' data-tab-id='lwk') LWK-Niedersachsen
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#maehlmannZuZiehen' data-tab-id='maehlmann') Mählmann
        li.nav-item
          a.nav-link.nav-linkTable(data-toggle='tab' href='#sonstiges' data-tab-id='sonstiges') Sonstiges
      .tab-content.text-center
        #lufaZuZiehen.tab-pane.fade.show.active
          #lufa-table.table-container.table-responsive(style="max-height: 60vh; overflow-y: auto;")
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in DatenZuZiehen.lufa
                  tr.table-secondary
                    td
                      a.nav-linkTableA(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #claasZuZiehen.tab-pane.fade
          #claas-table.table-container.secondary-backgroundcolor
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in DatenZuZiehen.claas
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #gsagriZuZiehen.tab-pane.fade
          #gsagri-table.table-container
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in DatenZuZiehen.gsagri
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #lwkZuZiehen.tab-pane.fade
          #lwk-table.table-container
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in DatenZuZiehen.lwkniedersachsen
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #maehlmannZuZiehen.tab-pane.fade
          #maehlmann-table.table-container
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in DatenZuZiehen.maehlmann
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
        #sonstigesZuZiehen.tab-pane.fade
          #sonstiges-table.table-container
            table.table.table-bordered
              thead
                tr.primary-backgroundcolor
                  th.secondary-color(scope="col") ID
                  th.secondary-color(scope="col") Vorname
                  th.secondary-color(scope="col") Nachname
                  th.secondary-color(scope="col") Telefonnummer
                  th.secondary-color(scope="col") E-Mail
                  th.secondary-color(scope="col") Wohnort
                  th.secondary-color(scope="col") Anzahl Flächen
                  th.secondary-color(scope="col") Löschen
              tbody
                each dat in DatenZuZiehen.sonstiges
                  tr.table-secondary
                    td
                      a(href='/products/'+dat.KUNDENNUMMER)= dat.KUNDENNUMMER
                    td= dat.VORNAME
                    td= dat.NACHNAME
                    td= dat.TELEFONNUMMER
                    td= dat.E_MAIL
                    td= dat.ORT
                    td= dat.AnzahlFlaechen
                    td.bestellung
                      input.normal(type='checkbox', name=dat.KUNDENNUMMER)
    
      button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModalCenterEinKunde'  class='btn btn-primary button float-right' style='margin-right:20px; margin-top:10px') Kunde hinzufügen  
      button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModalCenter'  class='btn btn-primary button float-right' style='margin-right:20px; margin-top:10px') Mehrere Kunden hinzufügen  
  
  #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content.neutral-backgroundcolor
        // Modal-Header
        .modal-header
          h5#exampleModalLongTitle.modal-title.text-white Mehrere Kunden hinzufügen
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        // Modal-Body
        .modal-body
          // Formular innerhalb des Popups
          form(ref='uploadMehrereKunden', id='uploadMehrereKunden', action='/products/uploadMehrereKunden', method='post', enctype='multipart/form-data')
            .form-group
              select#selectedOption.form-control(name='selectedOption')
                option(value='1') Lufa
                option(value='2') CLAAS
                option(value='3') GSAgri 
                option(value='4') LWK-Niedersachsen
                option(value='5') M&auml;hlmann
                option(value='6') Sonstiges
            .input-group.mb-3
              input.input-group-text(type='file', name='zipFiles', accept=".kml,.geojson,.shp,.zip" multiple)
            // Hier können Sie den Inhalt des Modals hinzufügen
            // Modal-Footer
            .modal-footer
              input.btn-primary.button.btn(type='submit', value='Hochladen!')

  #exampleModalCenterEinKunde.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content.neutral-backgroundcolor
        .modal-header
          h5#exampleModalLongTitle.modal-title.text-white Kunden hinzufügen
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form(ref='uploadFormRegister' action='/products/uploadFormRegister' method='post' enctype='multipart/form-data')
            .row
              .col-md-6
                .form-group
                  select#selectedOption.form-control(name='selectedOption' onchange='checkSelectedOption(this)')
                    option(value='1') Lufa
                    option(value='2') CLAAS
                    option(value='3') GSAgri 
                    option(value='4') LWK-Niedersachsen
                    option(value='5') Mählmann
                    option(value='6') Sonstiges
              .col-md-6
                .form-group
                  select#selectedOptionWinterung.form-control(name='selectedOptionWinterung')
                    option(value='1') Ab 01.01 Winterung
                    option(value='2') Ab 15.02 Frühe Sommerung
                    option(value='3') Ab 15.03 Späte Sommerung 
            .row
              .col-md-6
                .form-group
                  input.form-control(type='text' placeholder='Vorname' name='vorname')
              .col-md-6
                .form-group
                  input.form-control(type='text' placeholder='Nachname' name='nachname' )
            .row
              .col-md-6
                .form-group
                  input.form-control(type='email' name='email' placeholder='E-Mail')
              .col-md-6
                .form-group
                  input.form-control(type='tel' name='telefonnummer' placeholder='Telefonnummer')
            .row
              .col-md-6
                .form-group
                  input.form-control(type='text' name='ort' placeholder='Ort') 
              .col-md-6
                .form-group
                  input.form-control(type='number' name='plz' placeholder='Postleitzahl')
            .row
              .col-md-6
                .form-group
                  input.form-control(type='text' name='strasse' placeholder='Straße') 
              .col-md-6
                .form-group
                  input.form-control(type='number' name='hausnummer' placeholder='Hausnummer') 
            .row
              .col-md-6
                .form-group
                  input.form-control(type='number' id='kundenid' name='kundenid' placeholder='KundenID' disabled)
              .col-md-6
                .form-group
                  input.form-control(type='password' placeholder='Passwort' name='password' ) 
            .input-group.mb-3
              input.input-group-text(type='file', name='sampleFile', accept=".kml,.geojson,.shp,.zip")               
            .modal-footer
              input.btn-primary.button.btn(type='submit', value='Hochladen!')


  #kundenwirklichloeschen.modal.fade(tabindex='-1' role='dialog' aria-labelledby='kundenwirklichloeschen' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content.neutral-backgroundcolor
        .modal-header
          h5#exampleModalLongTitle.modal-title.text-white Kunden wirklich löschen?
          button.close(type='button' data-dismiss='modal' aria-label='Close' onclick='resetCheckbox()')
            span(aria-hidden='true') &times;
        .modal-footer
          button.btn.button.btn(type='button' data-dismiss='modal' onclick='resetCheckbox()') Abbrechen
          button.btn.btn-danger.button.btn(type='button' id='btnDeleteCustomer' onclick='deleteCustomer()') Löschen

  
  script.
  

      function checkSelectedOption(selectElement) {
        var kundenIdInput = document.getElementById('kundenid');
        if (selectElement.value === '1') {
          kundenIdInput.disabled = true;
          kundenIdInput.required = false;
        } else {
          kundenIdInput.disabled = false;
          kundenIdInput.required = true;

        }
      }


  

    document.getElementById('nurZuZiehendeKunden').addEventListener('change', function() {
      var checked = this.checked;
      document.getElementById('tabContent').style.display = checked ? 'none' : 'block';
      document.getElementById('tabContentZuZiehen').style.display = checked ? 'block' : 'none';
      document.getElementById('nurZuZiehendeKunden').checked=false;
      document.getElementById('nurZuZiehendeKundenAnzeigen').checked=true;
    });
    
    document.getElementById('nurZuZiehendeKundenAnzeigen').addEventListener('change', function() {
      var checked = this.checked;
      document.getElementById('tabContent').style.display = checked ? 'none' : 'block';
      document.getElementById('tabContentZuZiehen').style.display = checked ? 'block' : 'none';
      document.getElementById('nurZuZiehendeKundenAnzeigen').checked=false;
    });

    // Stellen Sie sicher, dass das div ausgeblendet ist, wenn die Seite geladen wird
    document.getElementById('tabContentZuZiehen').style.display = 'none';

    var checkboxZumLoeschen ='';
    
    document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        if (this.checked) {
          console.log('das heir ' + this.name)
          checkboxZumLoeschen = this.name
          $('#kundenwirklichloeschen').modal('show');
        }
      });
    });


    function resetCheckbox() {
      console.log('hier ist die ' + checkboxZumLoeschen)
      var checkboxes = document.getElementsByName(checkboxZumLoeschen);

      if (checkboxes.length > 0) {
        checkboxes[0].checked = false;
      } else {
        console.error('Checkbox nicht gefunden.');
      }

      checkboxZumLoeschen ='';
    }


    function deleteCustomer() {
      console.log('Checkbox zum Löschen:', checkboxZumLoeschen);

      fetch('/products/deleteCustomer', {
        method: 'PUT',
        credentials: 'include',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ kundeloeschen: checkboxZumLoeschen })
      })
      .then(response => response.status)
      .then(status => handleResponse(status))
      .catch(error => console.error('Error:', error));
    }


    function handleResponse(status) {
      if (status === 200) {
        location.reload()
      } 
    }


